<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body>
  <div id="new-action"><%= link_to 'New transaction', new_transaction_path %></div>
  <table class="transaction-table">
    <tr>
      <th>Symbol</th>
      <th>Action</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.symbol %></td>
          <td><%= transaction.action %></td>
          <td><%= transaction.quantity %></td>
          <td>$<%= transaction.price %></td>
          <td><%= link_to 'Show', transaction_path(transaction) %></td>
          <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
          <td><%= link_to 'Destroy', transaction_path(transaction),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </table>


  <table class="transaction-table">
    <tr>
      <th>Symbol</th>
      <th>Average Purchase Price</th>
      <th>Quantity</th>
      <th>Current Price</th>
      <th>Value</th>
    </tr>
          <% @investments.each do |investment| %>
        <tr>
          <td><%= investment.symbol %></td>
          <td>$<%= investment.avg_cost %></td>
          <td><%= investment.quantity %></td>
          <td>$<%= investment.get_stock_price %></td>
          <td>$<%= investment.value %></td>
        </tr>
    <% end %>
  </table>
  <div>Total invested: <%= Investment.totalInvested %></div>
  <div>Total value: <%= Investment.totalValue %></div>
  <div>Available cash: <%= Investment.availableCash %></div>
</body>
</html>