<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body>
  <table>
    <tr>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Price Bought</th>
    </tr>
    <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.symbol %></td>
          <td><%= transaction.quantity %></td>
          <td><%= transaction.price %></td>
          <td><%= link_to 'Show', transaction_path(transaction) %></td>
          <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
          <td><%= link_to 'Destroy', transaction_path(transaction),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    <%= link_to 'New transaction', new_transaction_path %>
  </table>


  <table>
    <tr>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Average Purchase Price</th>
      <th>Current Price</th>
      <th>Value</th>
    </tr>
    <% @investments.each do |investment| %>
        <tr>
          <td><%= investment.symbol %></td>
          <td><%= investment.quantity %></td>
          <td><%= investment.price %></td>
          <!--<td><%= link_to 'Show', investment_path(investment) %></td>-->
          <!--<td><%= link_to 'Edit', edit_investment_path(investment) %></td>-->
          <td><%= link_to 'Destroy', investment_path(investment),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    <!--<%= link_to 'New transaction', new_transaction_path %>-->
  </table>
</body>
</html>