<h1>Add a new transaction of a stock</h1>
<div id="transaction-form-outer">
    <div id="transaction-form-inner">
        <%= form_for :transaction, url: transactions_path do |f| %>
            <p>
              <%= f.label :symbol %>
              <%= f.text_field :symbol %>
            </p>

            <p>
              <%= f.label :quantity %>
              <%= f.text_field :quantity %>
            </p>

            <p>
              <%= f.label :price %>
              <%= f.text_field :price %>
            </p>

            <p>
              <%= f.select :action, [['Buy','buy'],['Sell','sell']] %>
            </p>

            <p>
              <%= date_select("transaction", "date", order: [:month, :day, :year]) %>
            </p>

            <p>
              <%= f.submit %>
            </p>
        <% end %>
    </div>
</div>

<div id="import-csv">
    <h3>Import a CSV File</h3>
    <%= form_tag import_transactions_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import CSV" %>
    <% end %>
</div>