<p>
  <strong>Ticker Symbol:</strong>
  <%= @transaction.symbol %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @transaction.price %>
</p>

<p>
  <strong>Current price:</strong>
  <%= @investment.get_stock_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @investment.quantity %>
</p>

<%= link_to "Back", transactions_path %>
<%= link_to 'Edit', edit_transaction_path(@transaction) %>
<%= link_to 'Destroy', transaction_path(@transaction),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>